body {
    background-color: #4CAF50 ;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

form {
    display: inline-block;
}

shop {
    display: block;
    font-size: 1em;
    color: #c11;
    margin-top: 16px;
    margin-bottom: 16px;
}

moeda {
    display: block;
    color: #1c1;
    font-weight: bold;
}

input, textarea {
    padding: 5px 15px;
}

input[type=text], input[type=password] {
    width: 256px;
}

fieldset {
    width: 256px;
    padding: 50px;
    background-color: lightgray;
    border: 2px groove;
}

table, td {
    margin-left: auto;
    margin-right: auto;
    background-color: lightgray;
    border: 30px solid lightgray;
    border-collapse: collapse;
}

td {
    background-color: white;
    text-align: center;
    padding: 30px 10px;
    width: 256px;
    vertical-align: bottom;
}

/* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 60%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: black;
  padding: 14px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color: #0aa805;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.footer {
    background-color: #333;
    color: white;
    display: flex;
}

.icons {
    padding: 50px 100px;
}


.email i {
    background-color: #222;
    padding: 12px;
    cursor: pointer;
    border-radius: 100%;
}

.marker i {
    background-color: #222;
    padding: 12px;
    cursor: pointer;
    border-radius: 100%;
}

.phone p {
    display: inline-block;
    padding: 10px;
}

.email p {
    display: inline-block;
    padding: 10px;
}

.marker p {
    display: inline-block;
    padding: 10px;
}

.info {
    padding: 50px 100px;
}


.info-title {
    letter-spacing: 1px;
    font-size: 20px;
    text-transform: uppercase;
}

.info-content {
    background-color: #222;
    padding: 10px;
    font-size: 15px;
    line-height: 25px;
    width: 400px;
}

.info div {
    display: flex;
    font-size: 30px;
}

.info div div {
    padding: 0px 30px 0px 0px; /* 0 = cima \\ 30 = direita \\ 0 = baixo \\ 0 = esquerda */
}

.info div i {
    background-color: #222;
    padding: 8px;
    color: white;
    border-radius: 10px;
}

.k {
    padding: 212px;
}

.back-site{
    background: cover;
}

.back-siteg{
    background: cover;
}

.back-sitegr{
    background: cover;
}
