{% extends 'layout.html' %}
{% block conteudo %}
<title>Jogo do Galo</title>
<script>
var galo=new Array(0,0,0,0,0,0,0,0,0)
var ajogar=1
function move(q){
if (galo[q]!=0) return
if (ajogar==1)
{
	galo[q]=1
	document.images[q].src="imagens/cruz.png"
	ajogar=2
}
else 
{
	galo[q]=2
	document.images[q].src="imagens/bola.png"
	ajogar=1
}
verseganhou()
}

function v(q1,q2,q3){
if ((galo[q1]==1)&&(galo[q2]==1)&&(galo[q3]==1)) return 1
if ((galo[q1]==2)&&(galo[q2]==2)&&(galo[q3]==2)) return 2
return 0
}

function verseganhou(){
if (v(0,1,2)==1) {alert("Ganharam as Cruzes!!!")}
if (v(3,4,5)==1) {alert("Ganharam as Cruzes!!!")}
if (v(6,7,8)==1) {alert("Ganharam as Cruzes!!!")}
if (v(0,3,6)==1) {alert("Ganharam as Cruzes!!!")}
if (v(1,4,7)==1) {alert("Ganharam as Cruzes!!!")}
if (v(2,5,8)==1) {alert("Ganharam as Cruzes!!!")}
if (v(0,4,8)==1) {alert("Ganharam as Cruzes!!!")}
if (v(2,4,6)==1) {alert("Ganharam as Cruzes!!!")}

if (v(0,1,2)==2) {alert("Ganharam as Bolas!!!")}
if (v(3,4,5)==2) {alert("Ganharam as Bolas!!!")}
if (v(6,7,8)==2) {alert("Ganharam as Bolas!!!")}
if (v(0,3,6)==2) {alert("Ganharam as Bolas!!!")}
if (v(1,4,7)==2) {alert("Ganharam as Bolas!!!")}
if (v(2,5,8)==2) {alert("Ganharam as Bolas!!!")}
if (v(0,4,8)==2) {alert("Ganharam as Bolas!!!")}
if (v(2,4,6)==2) {alert("Ganharam as Bolas!!!")}
}

function reset(){
location.reload()
}

</script>
{% endblock %}

{% block conteudo %}
<center>
<h1>Jogo do Galo</h1>
<a href="JavaScript:move(0)"><img src="imagens/nada.png">
<a href="JavaScript:move(1)"><img src="imagens/nada.png">
<a href="JavaScript:move(2)"><img src="imagens/nada.png"><br>
<a href="JavaScript:move(3)"><img src="imagens/nada.png">
<a href="JavaScript:move(4)"><img src="imagens/nada.png">
<a href="JavaScript:move(5)"><img src="imagens/nada.png"><br>
<a href="JavaScript:move(6)"><img src="imagens/nada.png">
<a href="JavaScript:move(7)"><img src="imagens/nada.png">
<a href="JavaScript:move(8)"><img src="imagens/nada.png"><br>
<br>
<input type="button" value="Novo Jogo" onclick="reset()"
onclick=alert("Start")
{% endblock %}

