<!DOCTYPE html>
<html lang="pt-PT">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/static/gorillaz.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Loja Online</title>
    {% block titulo %}
    {% endblock %}
    <script type="text/javascript" src="/static/scroll.js"></script>
</head>
<body>

<!-- The sidebar -->
<div class="sidebar">
    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="/p1"><i class="fas fa-address-book"></i> A Banda</a>
    <a href="/p2"><i class="fa fa-fw fa-envelope"></i> Tours</a>
    <a href="/p3"><i class="fa fa-fw fa-search"></i> Contacts</a>
    <a href="/p4"><i class="fas fa-tshirt"></i> Merch</a>
    <a href="/p5"><i class="far fa-times-circle"></i> Jogo Do Galo</a>
    <a href="/login"><i class="fa fa-fw fa-lock"></i> Login</a>
    <a href="/registo"><i class="fa fa-fw fa-user"></i> Registo</a>


</div>

{% block conteudo %}
{% endblock %}

<h1>&copy 2019 Mateus Quintela</h1>
</body>
<p class='k'></p>

<footer class="footer">
    <div class="icons">
        <div class="email">
            <i class="fas fa-envelope"></i>
            <p> help@grllz.com</p>
        </div>

        <div class="marker">
            <i class="fas fa-map-marked-alt"></i>
            <p>220 Hendrie st;
                70839 Midtown,Detroit -
                EUA
            </p>
        </div>
    </div>
    <div class="info">
        <br>
        <div>
            <div>
                <a href="https://www.instagram.com/gorillaz/" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>

            <div>
                <a href="https://twitter.com/Gorillaz/" target="_blank"><i class="fab fa-twitter"></i></a>
            </div>

            <div>
                <a href="https://www.facebook.com/Gorillaz/" target="_blank"><i class="fab fa-facebook-square"></i></a>
            </div>
        </div>
    </div>

</footer>
</html>
