{% extends 'layout.html' %}
{% block conteudo %}
<h1>A Banda</h1>

<h6>Gorillaz é uma banda virtual de trip rock criada no ano de 1998 pelo líder do Blur, Damon Albarn e por Jamie Hewlett, cocriador da história em quadrinhos Tank Girl.</h6>
<img src="/static/grllz_creators.png">
<h5> A banda é composta por quatro membros animados: 2-D, Murdoc, Noodle e Russel.</h5>
<img src="/static/grllz_members.png">
<h5>A música do grupo é resultado da colaboração entre vários outros músicos, sendo Damon Albarn o único membro permanente.</h5>
<h5>Seu estilo musical normalmente é classificado como rock alternativo, embora haja muita influência do britpop, dub e da eletrônica.</h5>
<img src="/static/britpop.png">
<h5>A banda, além de ser virtual, também possui toda uma história por trás de suas músicas incríveis.</h5>
{% endblock %}
