{% extends 'layout.html' %}
{% block conteudo %}
<h1>A Casa de "Luxo" Nova</h1>
<img src="/static/grllz_house.png">

<br>
<br>
<br>
<table width="900">
    <tr>
        <td>

    <h2>Quando anunciou seu novo disco, o Gorillaz compartilhou quatro faixas inéditas mostraram a casa. Uma delas é
        “Saturnz Barz”, que recebeu um clipe muito psicodélico intitulado “Spirit House”, onde a banda visitava uma casa
        mal-assombrada.</h2>

    <h2>Agora, os fãs poderão ter acesso à “Spirit House” de verdade, pois a banda acaba de anunciar três “casas de
        espíritos” ao redor do mundo. As cidades escolhidas foram Nova York, Berlim e Amsterdão, e a experiência
        ocorrerá entre o fim de Maio e o começo de Junho, dependendo da localização.</h2>

    <h2>A parceria foi feita com a Sonos</h2>
        </td>
    </tr>

</table>

<img src="/static/sonos.png">
{% endblock %}
