{% extends 'layout.html' %}
{% block conteudo %}
<h1>Singles</h1>

<div class="backg-site">
    <body background="static/singles.png"></body>
</div>

<br>
<br>
<br>
<table width="450">
    <tr>
        <td>
            <h5>Clint Eastwood (Clint Madeira do Leste)</h5>
            <h5>19-2000 (Revéillon)</h5>
            <h5>Rock the House (Pedra, a Casa)</h5>
            <h5>911 (11 de Setembro)</h5>
            <h5>Tommorow Comes Today (Amanhã Come Hoje)</h5>
            <h5>Lil' Dub Chefin (Pequeno Chefifnho Dublado)</h5>
            <h5>Feel Good Inc. (Sentir Bem incorporado)</h5>
            <h5>DARE (Dar ré)</h5>
            <h5>Dirty Harry (Harry Sujo)</h5>
            <h5>Kids with Guns (Crianças com armas)</h5>
            <h5>El Mañana (É Banana)</h5>
            <h5>Stylo (Estalo)</h5>
            <h5>Superfast Jellyfish (Peixe Geleia super Rápido)</h5>
            <h5>On Melancholy Hill (No Monte Melancólico)</h5>
            <h5>Rhinestone Eyes (Olhos de Pedra no Rim)</h5>
            <h5>Doncamatic (Don com a Matica)</h5>
            <h5>Phoner to Arizona (Telefonador para Arizona)</h5>
            <h5>Revolving Doors (Révolver Portas)</h5>
            <h5>Amarillo (Amarelo)</h5>
            <h5>Do Ya Thing (Faça a coisa Ya)</h5>
            <h5>Saturnz Barz (Barras de Saturno)</h5>
            <h5>Sleeping Powder (Poder Dormindo)</h5>
            <h5>Strobelite (Luz estrobélica)</h5>
            <h5>Humility (Humildade)</h5>
            <h5>Tranz (Fala sobre a orientação sexual do 2D)</h5>
        </td>
    </tr>

</table>


{% endblock %}
